.container{
  padding-top: 50px;
  display: flex;
  justify-content: left;
  margin: auto;

}
.register{
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
}
.table{
  border-collapse: collapse;
}
.table th, .table td{
  padding: 20px;
  border: 1px solid black;
  text-align: center;
}
.row {
  margin-left: 10px;
  margin-right: 10px;
  background-image: url('/images/uwp.jpeg');
  background-repeat: no-repeat;
 
}
.card{
  background-image: url('/images/taskadd.jpg');
  height: 400px;
}
.row {
  margin-bottom: 20px;
}
.form-control {
  color: black !important;
}
body{
   background-image: url('/images/uwp.jpeg');
   background-repeat: no-repeat;
   

}