.container{
  padding-top: 50px;
  display: flex;
  justify-content: left;
  margin: auto;

}
.register{
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
}
.table{
  border-collapse: collapse;
  background-color: transparent !important;
}
.table th, .table td{
  padding: 20px;
  border: 1px solid black;
  text-align: center;
 background-color: transparent !important;
}

.card{
  background-image: url('/images/taskadd.jpg');
  height: 400px;
}
.row {
  margin-bottom: 20px;
}
.form-control {
  color: black !important;
}
body{
   background-image: url('/images/uwp.jpeg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 100vh;
   width: 100%;

}
.imagecontainer{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 200px;
  width: 200px;
  overflow: hidden;
}
.imagecontainer img{
  object-fit: cover;
}